@import '../../../components/commons/Button/Button.module.scss';

.container {
  width: 100%;
  max-width: 964px;
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  border-radius: 12px;
  border: none;
  background: var(--red10);

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 16px;
  }
  @include mobile {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .cardImg {
    width: 539px;
    height: 308px;
    position: relative !important;
    overflow: hidden;
    border-radius: 12px;
    @include tablet {
      width: 100%;
      height: 360px;
    }
    @include mobile {
      height: 178px;
    }
  }

  .contents {
    display: flex;
    width: 346px;
    flex-direction: column;
    @include tablet {
      width: 100%;
      gap: 40px;
    }
    @include mobile {
      gap: 24px;
      padding-top: 0;
    }

    .information {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;

      @include mobile {
        gap: 6px;
      }
      .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        p {
          @include body1-bold(--primary);
          @include mobile {
            @include body2-bold(--primary);
          }
        }
        span {
          @include h1(--black);
          line-height: 34px;
          @include mobile {
            @include h2(--black);
            line-height: 29px;
          }
        }
      }
      .location {
        display: flex;
        align-items: center;
        gap: 6px;
        @include mobile {
          gap: 3px;
        }
        p {
          @include body1-regular(--gray50);
          @include mobile {
            @include body2-regular(--gray50);
          }
        }
        svg {
          fill: var(--red30);
          @include mobile {
            width: 16px;
            height: 16px;
          }
        }
      }
      .description {
        @include body1-regular(--black);
        min-height: 78px;
        margin-bottom: 54px;
        word-break: break-all;
        @include tablet {
          min-height: auto;
          margin-bottom: 0px;
        }
        @include mobile {
          @include body2-regular(--black);
        }
      }
    }

    .links {
      width: 100%;
      display: flex;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      .editLink {
        text-align: center;
        @include emptyButton;
        @include mobile {
          @include body2-bold(--primary);
          padding: 10px;
        }
      }
      .noticeEnterLink {
        text-align: center;
        @include fillButton;
        @include mobile {
          @include body2-bold(--white);
          padding: 10px;
        }
      }
    }
  }
}
