@import '../../../components/commons/Button/Button.module.scss';

.container {
  width: 100%;
  height: 356px;
  max-width: 960px;
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  border-radius: 12px;
  border: none;
  background: var(--red10);

  @include tablet {
    height: 677px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
  }
  @include mobile {
    height: 450px;
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .cardImg {
    width: 539px;
    height: 100%;
    position: relative !important;
    overflow: hidden;
    border-radius: 12px;
    @include tablet {
      width: 100%;
    }
    @include mobile {
      width: 100%;
    }
  }

  .contents {
    display: flex;
    width: 346px;
    padding-top: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    @include tablet {
      width: 100%;
      gap: 40px;
    }
    @include mobile {
      gap: 24px;
      padding-top: 0;
    }

    .information {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;

      @include mobile {
        gap: 6px;
      }
      .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        p {
          @include body1-bold(--primary);
          @include mobile {
            @include body2-bold(--primary);
          }
        }
        span {
          @include h1(--black);
          @include mobile {
            @include h1(--black);
          }
        }
      }
      .location {
        display: flex;
        align-items: center;
        gap: 6px;
        p {
          @include body1-regular(--gray50);
          @include mobile {
            @include body2-regular(--gray50);
          }
        }
        svg {
          fill: var(--red30);
        }
      }
      .description {
        @include body1-regular(--black);
        @include mobile {
          @include body2-regular(--gray50);
        }
      }
    }

    .links {
      width: 100%;
      display: flex;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      .editLink {
        text-align: center;
        @include emptyButton;
      }
      .noticeEnterLink {
        text-align: center;
        @include fillButton;
      }
    }
  }
}
