@import '../Modal.module.scss';

.notiInner {
  @include inner(--red10);
  width: 368px;
  padding: 24px 20px;
  border-radius: 10px;
}
.modalHeader {
  span {
    @include h3(--black);
  }
  width: 100%;
  display: flex;
  justify-self: space-between;
  align-items: center;
}
