.notiInner {
  z-index: 10;
  position: absolute;
  right: 0;
  top: 32.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--red10);
  gap: 16px;
  width: 368px;
  padding: 24px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0px rgba(120, 116, 134, 0.25);
  @include mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: flex-start;
    padding: 40px 20px;
    border-radius: 0;
  }
}
.modalHeader {
  span {
    @include h3(--black);
  }
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.closeIcon {
  cursor: pointer;
}
.notiContents {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
