.flexContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--gray20);
  padding: 16px 12px;
  width: 100%;
}
.text {
  @include body2-regular(--black);
}
.approveText {
  color: var(--blue20);
}
.rejectText {
  color: var(--red40);
}
.time {
  @include caption(--gray40);
}
