.wrapper {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
}
.inner {
  width: 298px;
  height: 183px;
  background-color: var(--white);
  border-radius: 12px;
  padding: 15px;
}
.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptyButton {
  @include emptyButton;
}
.fillButton {
  @include fillButton;
}
