.filterDate {
  padding: 24px 0;
  border-bottom: 2px solid var(--gray10);
  h6 {
    @include body1-regular(--black);
    margin-bottom: 8px;
  }
}

.customHeader {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: 16px;
  }
  button {
    cursor: pointer;
    border: none;
    background: none;
  }
}

.filterCalendar {
  width: 100%;
  padding: 16px 20px;
  border-radius: 6px;
  border: 1px solid var(--gray30);
  outline: none;
  font-size: 16px;
}
.selectedDay {
  background-color: var(--primary);
  color: var(--white) !important;
  &:hover {
    background-color: var(--primary);
  }
}
// .unselectedDay {
//   &:hover {
//     // border-radius: 50%;
//   }
// }
