@import '/components/commons/Button/Button.module.scss';

@mixin fixPadding() {
  @media screen and (max-width: 1024px) {
    padding: 14px;
  }
  @media screen and (max-width: 768px) {
    padding: 14px;
  }
}

.filterButton {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 8px;
  @media screen and (max-width: 768px) {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 16px 12px;
    width: 100%;
    border-top: 1px solid var(--gray20);
    background-color: var(--white);
  }
  button {
    &:nth-of-type(1) {
      @include emptyButton();
      @include fixPadding();
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      min-width: 82px;
    }
    &:nth-of-type(2) {
      @include fillButton();
      @include fixPadding();
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      min-width: 260px;
    }
  }
}
