.filterDate {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 0;
  border-bottom: 2px solid var(--gray10);
  label {
    @include body1-regular(--black);
    display: block;
  }
}
