.cardContainer {
  width: 312px;
  display: inline-flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 12px;
  border: 1px solid var(--gray20);
  background: var(--white);
  &:hover {
    img {
      transition: transform 0.3s;
      transform: scale(1.1);
    }
  }

  @include tablet {
    width: 100%;
  }
  @include mobile {
    width: 100%;
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .cardImg {
    width: 100%;
    height: 160px;
    flex-shrink: 0;
    position: relative !important;
    overflow: hidden;
    border-radius: 12px;
    img {
      object-fit: cover;
    }
    @include tablet {
      height: 171px;
    }
    @include mobile {
      height: 84px;
    }
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    @include mobile {
      gap: 12px;
    }
    .notice {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      @include mobile {
        gap: 6px;
      }
      .shopName {
        width: 100%;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include h3(--black);
        @include mobile {
          @include body1-bold(--black);
        }
      }
      .time {
        display: flex;
        align-items: center;
        gap: 6px;
        width: 100%;
        @include mobile {
          align-items: flex-start;
        }
        .iconBox {
          flex-shrink: 0;
          width: 20px;
          height: 20px;
          @include mobile {
            margin-top: 2px;
            width: 16px;
            height: 16px;
          }
          svg {
            display: block;
            width: 100%;
            height: 100%;
            fill: var(--red30);
          }
        }
        .timeText {
          width: 100%;
          line-height: 16px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          @include mobile {
            white-space: wrap;
            word-break: keep-all;
          }
          span {
            @include body2-regular(--gray50);
            @include mobile {
              @include caption(--gray50);
            }
            &.date {
              white-space: nowrap;
            }
            &.time {
              white-space: normal;
            }
          }
        }
      }
      .location {
        display: flex;
        align-items: center;
        gap: 6px;
        .iconBox {
          flex-shrink: 0;
          width: 20px;
          height: 20px;
          @include mobile {
            width: 16px;
            height: 16px;
          }
          svg {
            display: block;
            width: 100%;
            height: 100%;
            fill: var(--red30);
          }
        }
        span {
          @include body2-regular(--gray50);
          @include mobile {
            @include caption(--gray50);
          }
        }
      }
    }
  }
}

.closed {
  .closedMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* 다른 요소 위에 표시되도록 설정 */
    text-align: center;
    @include h1(--gray30);
  }
  .contents {
    .notice {
      .shopName {
        @include h3(--gray30);
        @include mobile {
          @include body1-bold(--gray30);
        }
      }
      .time {
        .iconBox {
          svg {
            fill: var(--gray20);
          }
        }
        .timeText {
          .data,
          .hour {
            @include body2-regular(--gray30);
            @include mobile {
              @include caption(--gray30);
            }
          }
        }
      }
      .location {
        .iconBox {
          svg {
            fill: var(--gray20);
          }
        }
        span {
          @include body2-regular(--gray30);
          @include mobile {
            @include caption(--gray30);
          }
        }
      }
    }
  }
}
