.cardContainer {
  width: 312px;
  height: 349px;
  display: inline-flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 12px;
  border: 1px solid var(--gray20);
  background: var(--white);
  @include tablet {
    width: 100%;
  }
  @include mobile {
    width: 100%;
    height: 261px;
  }

  .cardImg {
    width: 100%;
    height: 50%;
    position: relative !important;
    overflow: hidden;
    border-radius: 12px;
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    .notice {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      .shopName {
        @include h3(--black);
        @include mobile {
          @include body1-bold(--black);
        }
      }
      .time {
        display: flex;
        align-items: center;
        gap: 6px;
        span {
          @include body2-regular(--gray50);
          @include mobile {
            @include caption(--gray50);
          }
        }
      }
      .location {
        display: flex;
        align-items: center;
        gap: 6px;
        span {
          @include body2-regular(--gray50);
          @include mobile {
            @include caption(--gray50);
          }
        }
      }
    }
    .payInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }
      .pay {
        @include h2(--black);
        @include mobile {
          @include h4-bold(--black);
        }
      }
    }
  }
}
