.outerContainer {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--gray20);
  max-width: 964px;
  background: var(--white);
  overflow: hidden;
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 228px 300px 200px 236px;
  overflow-x: auto;

  @media (max-width: 768px) {
    grid-template-columns: 186px 270px 180px 180px;
  }
}

.gridContainer::-webkit-scrollbar {
  display: none;
}

.gridHeader {
  background-color: var(--red10);
  padding: 14px 12px;
  border-bottom: 1px solid var(--gray20);
  h6 {
    @include body2-regular(--black);
  }
}

.gridCell {
  display: flex;
  align-items: center;
  padding: 20px 12px;
  border-bottom: 1px solid var(--gray20);
  background: var(--white);
  @include body1-regular(--black);

  p {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
  }
}

.gridCellFirst {
  position: sticky;
  z-index: 1;
  left: 0;
  @media (width<=480px) {
    border-right: 1px solid var(--gray20);
  }
}

//모달 확인용 임시파일
.clickDiv {
  cursor: pointer;

  &:hover {
    text-decoration: underline var(--black);
  }
}

.actionButton {
  padding: 0.3rem 0.5rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &.payment {
    background-color: #4caf50;
    color: white;
  }

  &.cancel {
    background-color: #f44336;
    color: white;
  }
}
