.basicInputLabel {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  @include body1-regular(--black);

  input {
    width: 100%;
    height: 58px;
    padding: 16px 20px;
    border-radius: 6px;
    border: 1px solid var(--gray30);
    background: var(--white);
    outline: none;

    &::placeholder {
      color: var(--gray40);
    }
  }
}
