.basicInputLabel {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  span {
    color: var(--black);
    font-family: 'Spoqa Han Sans Neo';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  input {
    width: 100%;
    height: 58px;
    padding: 16px 20px;
    border-radius: 6px;
    border: 1px solid var(--gray30);
    background: var(--white);
    outline: none;

    &::placeholder {
      color: var(--gray40);
    }
  }
}
