@import '@/components/commons/Button/Button.module.scss';

.shareButton {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  svg {
    width: 20px;
    height: 20px;
  }
}
