@import '@/components/commons/Button/Button.module.scss';

.container {
  max-width: 964px;
  min-width: 325px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 12px;
  border: 1px solid var(--gray20);
  background-color: var(--white);
  margin: 24px 0;
  gap: 25px;
  @include tablet {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  @include mobile {
    margin-top: 16px;
    margin-bottom: 12px;
    padding: 20px;
  }
}

.imageBox {
  width: 540px;
  min-height: 300px;
  overflow: hidden;
  border-radius: 12px;

  @include tablet {
    width: 100%;
    height: 361px;
  }
  @include mobile {
    height: 178px;
    min-height: auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.noticeBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include tablet {
    width: 100%;
  }
}

.notice {
  width: 346px;
  display: flex;
  gap: 12px;
  flex-direction: column;

  @include tablet {
    width: 100%;
  }
  @include mobile {
    gap: 8px;
  }
}

.title {
  @include body1-bold(--primary);
  margin-bottom: 8px;
  @include mobile {
    @include body2-bold(--primary);
  }
}

.pay {
  display: flex;
}

.text {
  display: flex;
  gap: 6px;
  align-items: center;
  p {
    @include body1-regular(--gray50);
  }
  @include mobile {
    gap: 3px;
    svg {
      width: 16px;
      height: 16px;
    }
    p {
      @include body2-regular(--gray50);
    }
  }
}
.description {
  margin-bottom: 14px;
  min-height: 78px;
  @include body1-regular(--black);
  @include tablet {
    margin-bottom: 40px;
    min-height: auto;
  }
  @include mobile {
    @include body2-regular(--black);
    margin-bottom: 24px;
  }
}
.button {
  max-width: 346px;
  @include emptyButton;

  @include tablet {
    max-width: none;
    width: 100%;
  }
  @include mobile {
    padding: 10px;
    @include body2-bold(--primary);
  }
}
