.container {
  display: flex;
  padding: 60px 0 120px 0;
  justify-content: center;
  align-items: center;
  background: var(--gray5);
  @include tablet {
    padding: 60px 32px;
  }
  @include mobile {
    padding: 40px 12px 80px 12px;
  }

  .recentContainer {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    h2 {
      @include h1(--black);
      @include mobile {
        @include h3(--black);
      }
    }
    .cards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-column-gap: 14px;
      grid-row-gap: 32px;
      @include tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
      }
      @include mobile {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
      }
    }
  }
}
