.imageInput {
  .inputTitle {
    @include body1-regular(--black);
  }
  display: flex;
  flex-direction: column;

  .shopImage {
    max-width: 483px;
    height: 276px;
    cursor: pointer;
    margin: 8px auto;
    border: 0;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
  }
}
