.container {
  width: 100%;
  position: relative;

  .select {
    @include body1-regular(--black);
    width: 100%;

    .button {
      width: 100%;
      border: none;
      background: var(--gray5);
      position: relative;
      cursor: pointer;

      .upIcon,
      .downIcon {
        position: absolute;
        top: 29px;
        right: 20px;
      }

      .input {
        @include body1-regular(--black);
        width: 100%;
        height: 58px;
        padding: 16px 20px;
        margin-top: 8px;
        border-radius: 6px;
        border: 1px solid var(--gray30);
        background: var(--white);
        outline: none;
        cursor: pointer;

        &::placeholder {
          color: var(--gray40);
        }
      }
    }
  }
  .error {
    font-size: 13px;
    color: var(--red40);
  }
}
