.allNotice {
  padding: 60px 32px;
  section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 964px;
    margin: 0 auto;
    .allNoticeTop {
      display: flex;
      justify-content: space-between;
      h2 {
        @include h1(--black);
        strong {
          @include h1(--primary);
        }
      }
    }
    .noNotice {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      text-align: center;
    }
  }
}
