.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 31px 14px;
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile {
    gap: 16px 8px;
  }
  li {
    cursor: pointer;
    transition: transform 0.3s;
  }
}
