/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', sans-serif; /*글꼴 추가*/
  color: var(--black);
}
:after,
:before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}

/* color */
:root {
  --primary: #ea3c12;
  --black: #111322;
  --gray60: #5a5a5a;
  --gray50: #7d7986;
  --gray40: #a4a1aa;
  --gray30: #cdc9cf;
  --gray20: #e5e4e7;
  --gray10: #f2f2f3;
  --gray5: #fafafa;
  --white: #ffffff;
  --red40: #ff4040;
  --red30: #ff8d72;
  --red20: #ffaf9b;
  --red10: #ffebe7;
  --blue20: #0080ff;
  --blue10: #cce6ff;
  --green20: #20a81e;
  --green10: #d4f7d4;
  --kakao: #fee500;
}

/* datepicker 라이브러리 */
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__header {
  background-color: var(--white) !important;
}
.react-datepicker__day--outside-month {
  color: #a8a8a8 !important;
}
.react-datepicker__day--keyboard-selected {
  /* 캘린더 스타일 변경 2024-04-23 임동현 */
  background-color: var(--primary) !important;
  color: var(--white) !important;
}
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
  display: none !important;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex-grow: 1;
  }
}
