/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', sans-serif; /*글꼴 추가*/
}
:after,
:before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}

/* color */
:root {
  --black: #111322;
  --gray50: #7d7986;
  --gray40: #a4a1aa;
  --gray30: #cdc9cf;
  --gray20: #e5e4e7;
  --gray10: #f2f2f3;
  --gray5: #fafafa;
  --white: #ffffff;
  --red40: #ff4040;
  --red30: #ff8d72;
  --red20: #ffaf9b;
  --red10: #ffebe7;
  --blue20: #0080ff;
  --blue10: #cce6ff;
  --green20: #20a81e;
  --green10: #d4f7d4;
  --kakao: #fee500;
}
